@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
*{
    font-family: "Press Start 2P", cursive;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;

}
body{
    height: 100vh;
    width: 100vw;
    background-color: black;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    width: 90vw;
    height:90vh;
    border: solid;
    border-radius: 7vw;
    box-shadow: -0.4vw -0.4vh 0.4vw  ;
    display: flex;
    flex-direction: column;
    padding-inline: 4vw;
    padding-block: 4vh;
    justify-content: space-between;

}
.display{
    height:30%;
    width:100%;
    background-color: white;
    border-radius: 2vw;
    color: black;

}
.primary{
  padding: 2vh;
  color: black;
  font-size: 5vw;
  display: flex;
  align-items:flex-end;
  justify-content: right;
}
.secondary{
  display: flex;
  align-items: end;
  justify-content: right;
  padding: 2vh;
  height: 40%;
  width: 100%;
  color: black;
  font-size: 5vw;
}
.keyboard{
    
    width:100%;
    height:65%;
   padding: 0%;
   margin: 0%;
   

}
.keyboard button{
  color: black;
  width: 25%;
}
.delKeys {
  height: 20%;
}
.delKeys button{
  width: 50%;
  height: 100%;
}
.numberPad{
  height: 80%;
  display: flex;
 
}
.keyPad{
  width: 100%;
  display: flex;
  flex-wrap: wrap;

}

@media (min-width: 30em) {
    html {
      font-size: 125%;
    }
    .secondary {
      font-size: 10rem;
    }
  }
  
  @media (min-width: 40em) {
    html {
      font-size: 150%;
    }
   
  }
  
  @media (min-width: 50em) {
    html {
      font-size: 175%;
    }
    .secondary {
      font-size: 1vw;
    }
    .primary{
      font-size: 2vw;
    }
  }
  
  @media (min-width: 60em) {
    html {
      font-size: 200%;
    }
    .calculator{
      width:25vw;
      padding: 2vw;
      border-radius: 2vw;
    }
    .secondary{
      font-size: 1vw;
    }
    .primary{
      font-size: 2vw;
    }
  }